# macOS system files
.DS_Store
._*
Thumbs.db
Desktop.ini

# Python artifacts
__pycache__/
**/__pycache__
*.py[cod]
*.so

# Virtual environments
env/
venv/
.env/
.venv/

# VS Code settings
.vscode/

.old/
build/
dist/
test_subtitles/
resources/ffmpeg-bin/
