# macOS system files
.DS_Store
._*
Thumbs.db
Desktop.ini

# Python artifacts
__pycache__/
**/__pycache__
*.py[cod]
*.so
*.exe
*.zip
*.tar.gz

# Virtual environments
env/
venv/
.env/
.venv/

# VS Code settings
.vscode/

# AutoSubSync
*AppImage*
*config.json
build/
dist/
.old/
main/AutoSubSync_logs
main/resources/ffmpeg-bin/
main/resources/ffsubsync-bin/
main/resources/versions.json
test_subtitles/
PROMPTS.md
build_tools/
