name: Test macOS AMD Build

on:
  workflow_dispatch:

env:
  DIST_DIR: /tmp/builds

jobs:
  build-macos-amd:
    runs-on: macos-13

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12.8
          cache: "pip"

      - name: Install required modules globally
        run: |
          pip install requests

      - name: Run build script
        run: |
          python build.py

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-macos_amd64
          path: |
            AutoSubSync-v*.zip
            AutoSubSync-v*.tar.gz
